{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
              {%- unless product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                <span class="icon-wrap-origin" style="margin-left: 0.5rem;">{% render 'icon-arrow' %}</span>
                <span class="icon-wrap" style="margin-left: 0.5rem;">
                  <svg style="margin-top: 0.3rem;" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.8125 15.875C7.8125 16.184 7.72086 16.4861 7.54917 16.7431C7.37748 17 7.13345 17.2003 6.84794 17.3186C6.56243 17.4368 6.24827 17.4678 5.94517 17.4075C5.64208 17.3472 5.36367 17.1984 5.14515 16.9799C4.92663 16.7613 4.77781 16.4829 4.71752 16.1798C4.65723 15.8767 4.68818 15.5626 4.80644 15.2771C4.9247 14.9915 5.12497 14.7475 5.38192 14.5758C5.63887 14.4041 5.94097 14.3125 6.25 14.3125C6.6644 14.3125 7.06183 14.4771 7.35485 14.7701C7.64788 15.0632 7.8125 15.4606 7.8125 15.875ZM14.375 14.3125C14.066 14.3125 13.7639 14.4041 13.5069 14.5758C13.25 14.7475 13.0497 14.9915 12.9314 15.2771C12.8132 15.5626 12.7822 15.8767 12.8425 16.1798C12.9028 16.4829 13.0516 16.7613 13.2701 16.9799C13.4887 17.1984 13.7671 17.3472 14.0702 17.4075C14.3733 17.4678 14.6874 17.4368 14.9729 17.3186C15.2585 17.2003 15.5025 17 15.6742 16.7431C15.8459 16.4861 15.9375 16.184 15.9375 15.875C15.9375 15.4606 15.7729 15.0632 15.4799 14.7701C15.1868 14.4771 14.7894 14.3125 14.375 14.3125ZM18.3961 4.90078L16.2641 11.8305C16.1279 12.2786 15.8509 12.6709 15.4742 12.9492C15.0974 13.2274 14.641 13.3767 14.1727 13.375H6.47891C6.00383 13.3735 5.54205 13.218 5.16275 12.932C4.78346 12.6459 4.50707 12.2446 4.375 11.7883L1.70391 2.4375H0.9375C0.68886 2.4375 0.450403 2.33873 0.274587 2.16291C0.098772 1.9871 0 1.74864 0 1.5C0 1.25136 0.098772 1.0129 0.274587 0.837087C0.450403 0.661272 0.68886 0.5625 0.9375 0.5625H1.93906C2.27839 0.563548 2.60824 0.674595 2.87911 0.878983C3.14998 1.08337 3.34728 1.37008 3.44141 1.69609L4.01094 3.6875H17.5C17.6467 3.68749 17.7914 3.72191 17.9224 3.78801C18.0534 3.8541 18.167 3.95001 18.2542 4.06803C18.3414 4.18605 18.3996 4.32288 18.4243 4.46752C18.4489 4.61215 18.4393 4.76055 18.3961 4.90078ZM16.2305 5.5625H4.54609L6.17813 11.2734C6.19681 11.3388 6.23628 11.3962 6.29056 11.4371C6.34483 11.478 6.41096 11.5001 6.47891 11.5H14.1727C14.2395 11.5001 14.3047 11.4788 14.3586 11.4391C14.4124 11.3995 14.4521 11.3436 14.4719 11.2797L16.2305 5.5625Z" fill="white"/> </svg>
                </span>
              {%- endunless -%}
            {%- render 'loading-spinner' -%}
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}

  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
      | where: 'pick_up_enabled', true
    -%}

    <pickup-availability
      class="product__pickup-availabilities no-js-hidden quick-add-hidden"
      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
      data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          {% render 'icon-unavailable' %}
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
